.burger {
  display: flex;
  flex-direction: column;
}

.burger__container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.burger__list {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.burger__sublist {
  max-height: 464px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.burger__sublist::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 8px;
}

.burger__sublist::-webkit-scrollbar-thumb {
 background-color: #8585AD;
}

.burger__item {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.burger__wrapper {
  align-items: center;
  display: flex;
}
