.article {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
}

.article__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.article__heading {
  min-height: 48px;
}
