.card {
  background-color: #1C1C21;
  border-radius: 40px;
  border: 2px solid transparent;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  margin-right: 8px;
  min-height: 214px;
  min-width: 584px;
  padding: 24px;
}

.card:hover {
  border: 2px solid #4C4CFF;
}

.heading {
  color: #F2F2F3;
  display: flex;
  justify-content: space-between;
}

.name {
  color: #F2F2F3;
  margin: 24px auto;
}

.listImages {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 16px;
  position: relative;
}

.status {
  color: #F2F2F3;
  margin: 8px 0 24px;
}

.itemList {
  align-items: center;
  background: linear-gradient(#801ab2, #4c4cff);
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  height: 64px;
  justify-content: center;
  margin-left: -16px;
  position: relative;
  transform: rotate(-135deg);
  width: 64px;
  z-index: 6;
}

.itemList:nth-child(2) {
  z-index: 5;
}

.itemList:nth-child(3) {
  z-index: 4;
}

.itemList:nth-child(4) {
  z-index: 3;
}

.itemList:nth-child(5) {
  z-index: 2;
}

.itemList:nth-child(6) {
  z-index: 1;
}

.image {
  background: #131316;
  border-radius: 50%;
  box-sizing: border-box;
  height: 62px;
  margin: auto;
  object-fit: cover;
  padding: 6px;
  transform: rotate(135deg);
  width: 62px;
}

.imageCounter {
  background: #1C1C21;
  border-radius: 50%;
  box-sizing: border-box;
  height: 62px;
  margin: auto;
  object-fit: cover;
  opacity: .6;
  padding: 6px;
  transform: rotate(135deg);
  width: 62px;
}

.counter {
  color: #F2F2F3;
  opacity: 1;
  position: absolute;
  transform: rotate(135deg);
  z-index: 10;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.round {
  background: #1C1C21;
  border-radius: 50%;
  height: 62px;
  position: absolute;
  width: 62px;
}

.price {
  color: #F2F2F3;
  display: flex;
}

.amount {
  color: #F2F2F3;
  margin-right: 9px;
}
