.container {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  max-width: 1920px;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1240px;
}

.header {
  justify-self: start;
  width: 100%;
}

.main__container {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}
