.heading {
  align-items: center;
  display: flex;
  margin: 120px auto 0;
  min-height: 64px;
}

.detailes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 520px;
}

.image {
  width: 480px;
}

.name {
  text-align: center;
}

.container {
  display: grid;
  gap: 20px;
  grid-template-columns: 125px 111px 112px 112px;
  list-style: none;
}

.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 0;
  padding: 0;
}

.notfound {
  margin: 0 auto;
  padding: 60px 0 0;
}
