@font-face {
  font-family: IBM Plex Sans;
  font-weight: 400;
  src: url(./fonts/IBMPlexSans-Regular.woff2) format(woff2);
}

@font-face {
  font-family: IBM Plex Sans;
  font-weight: 700;
  src: url(./fonts/IBMPlexSans-Bold.woff2) format(woff2);
}

@font-face {
  font-family: Iceland;
  font-weight: 400;
  src: url(./fonts/Iceland-Regular.woff2) format(woff2);
}

@font-face {
  font-family: JetBrains Mono;
  font-weight: 400;
  src: url(./fonts/JetBrainsMono-Regular.woff2) format(woff2);
}

@font-face {
  font-family: JetBrains Mono;
  font-weight: 700;
  src: url(./fonts/JetBrainsMono-Bold.woff2) format(woff2);
}


body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131316;
}
