.ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.ingredients__types {
  display: flex;
}

.ingredients__blocks {
  max-height: 64.5vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ingredients__blocks::-webkit-scrollbar {
   background-color: #2F2F37;
   width: 8px;
}

.ingredients__blocks::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
